{% extends "polls/base.html" %}{% load static %}{% block title %}
<h1>최근 질문</h1>
{% endblock %}{% block content %}

<a href="{%url 'polls:question_create'%}">글생성</a> 



{% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
    <li>


      <div>
        <a href="{% url 'polls:detail' question.id %}">
          {{ question.question_text }}
        </a>
      </div>

      <div>
        <a href="{% url 'polls:question_update' question.id %}">수정</a>
        <a href="{% url 'polls:question_delete' question.id %}">삭제</a>
      </div>


    </li>
  {% endfor %}
</ul>
{% else %}
<p>질문이 없습니다.</p>
{% endif %}
{% endblock %}